header {
  position: relative;
  height: 100vh;

  width: 100vw;
  overflow: hidden;
  .content {
    width: calc(100vw - 44px);
    height: calc(100vh - 44px);
    margin: 20px auto;

    border: 2px black solid;
    animation-name: borderSolid;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

    @keyframes borderSolid {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    h1 {
      position: absolute;
      top: 50%;
      right: 40px;
      transform: translateY(-50%);
      margin: 0;
      padding-right: 5%;

      font-family: niveau-grotesk, sans-serif;
      font-weight: 900;
      font-style: italic;
      font-size: 4rem;
      letter-spacing: -0.01em;
      color: black;

      animation-name: leftTranslate;
      animation-duration: 3s;
      animation-delay: -1s;
      animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

      @keyframes leftTranslate {
        0% {
          transform: translateY(-50%) translateX(100vw);
        }
        100% {
          transform: translateY(-50%) translateX(0vw);
        }
      }

      &:before {
        content: "";
        position: absolute;
        left: -30px;
        top: -50px; /*線の上下位置*/
        display: inline-block;
        transform: translateY(-50%);
        width: 100px; /*線の長さ*/
        height: 20px; /*線の太さ*/
        background-color: black; /*線の色*/
        animation-name: leftTranslate;
        animation-duration: 5s;
        animation-delay: 0.5s;
        animation-timing-function: cubic-bezier(0.4, 0, 0, 1);
      }
      &:after {
        content: "";
        position: absolute;
        left: 100px;
        bottom: -15px; /*線の上下位置*/
        display: inline-block;
        transform: translateY(-50%);
        width: 100px; /*線の長さ*/
        height: 5px; /*線の太さ*/
        background-color: black; /*線の色*/
        animation-name: leftTranslate;
        animation-duration: 5s;
        animation-delay: 0s;
        animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
      }

      span {
        outline-offset: -10px;
        border-bottom: 10px solid yellow;
      }
    }
    .big {
      z-index: 1;

      position: absolute;
      top: 50%;
      right: calc(100vw + 30%);
      transform: translateY(-50%);
      margin: 0;
      width: 100%;
      text-align: right;

      font-family: poynter-gothic-text-condense, sans-serif;
      font-weight: 800;
      font-style: italic;
      font-size: 100vw;
      letter-spacing: -0.04em;
      color: rgba(0, 0, 0, 0.1);

      animation-name: rightTranslate;
      animation-duration: 2s;

      animation-timing-function: cubic-bezier(0.42, 0, 0, 1);

      @keyframes rightTranslate {
        0% {
          transform: translateY(-50%) translateX(-100vw);
        }
        100% {
          transform: translateY(-50%) translateX(0vw);
        }
      }
    }
    .left__top__box {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 35px;
      height: 35px;
      background-color: white;
    }
    .left__top__text {
      position: absolute;
      top: 50px;
      left: 50px;
      margin: 0;
      writing-mode: vertical-rl;

      font-family: niveau-grotesk, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.8rem;
      letter-spacing: -0.01em;

      animation-name: topTranslate;
      animation-duration: 3s;
      animation-delay: 0s;
      animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
      @keyframes topTranslate {
        0% {
          transform: translateY(-100vh);
        }
        100% {
          transform: translateY(0vh);
        }
      }
    }
    .left__bottom__border {
      content: "";
      position: absolute;
      left: 80px;
      bottom: 80px;
      display: inline-block;
      width: 100px; /*線の長さ*/
      height: 2px; /*線の太さ*/
      background-color: black; /*線の色*/
    }

    .left__center__border {
      z-index: -1;
      content: "";
      position: absolute;
      left: 0px;
      bottom: 160px;
      display: inline-block;
      width: 50%;
      height: 10px;
      background-color: yellow;
      transform: translateY(-50%);
      animation-name: leftTranslate_bar;
      animation-duration: 30s;
      animation-delay: -14s;
      animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
      @keyframes leftTranslate_bar {
        0% {
          transform: translateY(-50%) translateX(-100vw);
        }
        100% {
          transform: translateY(-50%) translateX(0vw);
        }
      }
    }
  }
}
